In [1]:
from synthetic.generate import generate_sessions

In [10]:
import datetime as dt

In [13]:
sample = generate_sessions(10_000, dt.date(2022, 2, 1), dt.date(2022, 8, 1))

Generating user 0 / 10000
Generating user 1000 / 10000
Generating user 2000 / 10000
Generating user 3000 / 10000
Generating user 4000 / 10000
Generating user 5000 / 10000
Generating user 6000 / 10000
Generating user 7000 / 10000
Generating user 8000 / 10000
Generating user 9000 / 10000

In [14]:
sample.head()

,timestamp,user_id,url,page_type,platform,domain,deal,transaction
0,2022-02-01 00:15:48.199482,4653,www.examplesite.it/home,home,www,it,None,None
0,2022-02-01 00:24:41.460302,2297,www.examplesite.sp/home,home,www,sp,None,None
0,2022-02-01 01:29:27.051946,8381,www.examplesite.co.uk/home,home,www,co.uk,None,None
0,2022-02-01 01:29:32.009343,8381,www.examplesite.co.uk/deal/528,deal,www,co.uk,528,None
0,2022-02-01 01:29:51.984154,8381,www.examplesite.co.uk/deal/656,deal,www,co.uk,656,None